@import "./header.css";

.logo-sobre{
    width: 100vw;
    height: 110px;
    left: 0px;
    top: 0px;    
    background: #13283B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-sobre img{
	width: 230px;
	height: 77px;
	}
	
.header-sobre {
	background-color: rgba(20, 95, 131, 1);
	justify-content: center;
	align-items: center;
	display: flex;
	  
}
	
.header-sobre h1{
	font-size: 2rem;
	color: #add8ec;
	margin-top: 2rem;
	/* margin: auto; */
	height: 70px;
	justify-content: center;
	align-items: center;
	display: flex;
}		


@media (min-width:320px) and (max-width: 700px)  {
	
	.header-sobre  h1{
		font-size: 1.3rem;
		
	}	
		 
}