@import "./reset.css";

.logo-feed{
    width: 100vw;
    height: 110px;
    left: 0px;
    top: 0px;    
    background: #13283B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-feed img{
	width: 230px;
	height: 77px;
	}
	
.header-feed{
		background-color: rgba(20, 95, 131, 1);
		place-items: center;
		width: 100vw;
	}
	
.header-feed p{
		padding: 1rem;
		color: #e4e4e4;
		text-align: center;
		font-size: .9rem;
	  
	}
.header-feed img{
		padding: 1rem;
		width: 180px;
	}

	@media (min-width:700px){
		.header-feed p{       
			font-size: 150%;
		  
		}
	
	}