@import "./reset.css";
@import "./header.css";
@import "./footer.css";

.container-login {
    display: flex;
    align-items: center;  
    width: 100%;
}

.img-box-login img {
    width: 600px;
    height: 100%;
    margin-left: 40px;
}

.content-box-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    position: relative;	
}

.form-box-login {
    padding: 40px;
    margin: 5px;
	background: #051933;
	border-radius: 10px;
    height: fit-content;    
}

.box-google-title {
    margin-top: -1rem;
}

.box-google {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul li {
    list-style: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
    transition: 0.3s;
}

.error{
    color: aliceblue;
}

.btn-login-google{
    background-color: transparent;
    border: none;
}

.btn-login-google img {
    width: 40px;
   
}

.btn-login-google img:hover{
    background: #e4e4e4;
}

.form-box-login h2 {
    color: #e4e4e4;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.form-box-login p {
	text-align: center;
    color:#e4e4e4
}

.input-box {
    margin-bottom: 20px;
    
}

.input-login-email::placeholder {
    font-size: .8rem;
}

.input-login-password::placeholder {
    font-size: .8rem;
}

#cadastrar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;  
    color: rgba(20, 95, 131, 1);
    font-size: 1.1rem;
}

input {
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border: none;
    font-size: 17px;
    color: #32324f;
    background-color: #ecf2f7;
    border-radius: 5px;	
}

.input-box span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #e4e4e4;
    font-weight: 400;
	margin-top: 1rem;
}

.input-box input::placeholder {
    color: #a9adb6;
}

.login-btn {
    background-color: rgba(20, 95, 131, 1);
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;   
    font-size: 16px;
    margin: 8px;   
}

.login-btn:hover {
    background-color: #3286ca;
}

.input-box p {
	text-align: center;
    color:#e4e4e4
}
.input-box p a{
    color: #4aa4ee;
}

.input-box p a:hover{
    color: #3286ca;
}
.form-box-login h4{
    color: #607d8b;
    margin: 40px 0 15px;
    font-weight: 500;
    text-align: center;
    font-size: 1.1rem;
}

@media (max-width:600px) {
    .img-box-login{
        display: none;
    }
    .content-box-login{
        width: 100%;
    }
    .form-box-login{
        width: 100%;
        padding: 40px;
        margin: 50px;
        margin-top: 1rem;
    } 
    .form-box-login h3{
        margin: 30px 0 10px;
    } 
}

@media (min-width:600px) and (max-width:700px)  {
    .img-box-login img {
        width: 230px;
        height: 100%;
        margin-left: 40px;
    }
  
}

@media (min-width:700px) and (max-width:800px)  {
    .img-box-login img {
        width: 350px;
        height: 100%;
        margin-left: 40px;
    }
  
}


@media (min-width:801px) and (max-width:901px)  {
    .img-box-login img {
        width: 380px;
        height: 100%;
        margin-left: 40px;
    }
  
}

@media (min-width:902px) and (max-width:999px)  {
    .img-box-login img {
        width: 430px;
        height: 100%;
        margin-left: 40px;
    }
  
}