@import "./reset.css";
@import "./header.css";
@import "./footer.css";

.container-publish{
  width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    margin: auto;  
    padding-bottom: 100px;
    background-color: #003b4e;
    height: 100%;

}

.card-publish{
    width: 80%;
    margin: auto;   
    align-items: center;  
    display: flex;
    flex-direction: column;
  }

.card-publish textarea{
    width: 90%;
    height: 150px;
    background-color: #051933;
    margin-top:10px;
    border-radius: 20px;
    outline: none;
    padding: 30px;
    color: white;
    opacity: 90%;
    border: none;
  
    
}

.container-post-data{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    background-color: #051933;
    border-radius: 20px;
    margin: auto;
    color: aliceblue;
    padding-bottom: 10px;
    margin-bottom: 20px;
  
}

.name,
.message{
    width: 80%;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    padding: 5px;
    color: #add8ec;
    
}

.user-name {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}

.user-data{
  font-size: 13px;
}


.message{
line-height: 2px;
height: 100px;
}

#post-published{
    background-color: #051933;
    color: #add8ec;
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 1px solid #add8ec;
    border-radius: 15px;
    overflow-y: scroll;
    font-weight: 500;
    font-style: italic;
}

#post-published::-webkit-scrollbar {
  display: none;
}

.publish-btn{
    background-color: #13283B;
    width: 50%;
    height: 100%;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 5px;
  }

  .publish-btn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }

 .btn-like,
 .btn-delete,
 .btn-edit {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  } 

  .modal-delete {
    display: none;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 10rem;
    padding: 20px;
    background-color: #003b4e;
    border-radius: 10px;
    box-shadow: 0 0 3px #8faab462;
    color: aliceblue;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: animate;
    animation-duration: 0.5s;
  }


  .modal-delete-content {
    display: flex;
    height: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
     }  

  .btn-modal-delete,
  .btn-modal-cancel {
    border: none;
    background: rgb(47, 99, 148);
    cursor: pointer;
    padding: 0.4rem;
    transition: all 0.2s ease-in;
    color: #ffffff;
    margin: 10px;
    border-radius: 5px;
  }

  .btn-modal-delete:hover,
  .btn-modal-cancel:hover {
    transform: scale(1.1);
  }

  .buttons{
    display: flex;  
    align-items: center; 
    justify-content: center;
    margin-top: 5px;
  }

  .buttons img{
    width: 20px;
  }

  .number-likes{
    margin-left: 60px;
    margin-top: -20px; 
    margin-right: 20PX;
    color: #add8ec;
  }

  
.btn-delete{
  margin-right: 20PX;
}

  #btn-save {
    visibility: hidden;
    background-color: #add8ec;
    border: none;
    padding: 5px;
    margin: -40px;
    border-radius: 5px;
    color: #051933;
    margin-left: -20px;
  }

  .hidden{
    display: none;
}

.message-textarea{
  color: #add8ec;
}


  @media (min-width:700px) {
.allPosts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
  }

  .container-post-data {
    width: 28rem;
    height: 10rem;
}

.card-publish{
  width: 30rem;
}

  }