@import "./reset.css";
@import "./header.css";
@import "./footer.css";

.container-register {
    display: flex;
    align-items: center;  
    width: 100%;
   
}

.img-box-register img {
    width: 600px;
    height: 100%;
    margin-left: 40px;
}

.content-box-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
    position: relative;	
	
}

.form-box-register {
    padding: 40px;
    margin: 5px;
	background: #051933;
	border-radius: 10px;
    height: fit-content;
    width: 80%;
}

.form-box-register h2 {
    color: #e4e4e4;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.form-box-register p {
	text-align: center;
    color:#e4e4e4
}

/* .form-box-register h2{        
    font-size: 1.8rem
}  */

.form-control {
    margin-bottom: 20px;
    position: relative;
}

.form-control label {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #e4e4e4;
    font-weight: 400;
	margin-top: 1rem;
}

.form-control input {
    width: 100%;
    padding: 8px;
    outline: none;
    font-weight: 400;
    border: none;
    font-size: 17px;
    color: #32324f;
    background-color: #ecf2f7;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
   
	
}

.form-control p {
	text-align: center;
    color:#e4e4e4
}
.form-control p a{
    color: #4aa4ee;
}

.form-control h4{
    color: #607d8b;
    margin: 40px 0 15px;
    font-weight: 500;
    text-align: center;
    font-size: 1.1rem;
}

.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #D85A5A;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control.success i .img-success {
    visibility: visible;
}

.form-control.error i .img-error {
    visibility: visible;
}

.register-btn {
    background-color: rgba(20, 95, 131, 1);
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;   
    font-size: 16px;
    margin: 7px;   
}

.register-btn:hover {
    background: #3286ca;
}

.voltar { background-color: transparent; border: none; color: #607d8b;}

@media (max-width: 650px) {
    .img-box-register img{
        display: none;
    }
    .content-box-register{
        width: 100%;
    }
    .form-box-register{
        width: 100%;
        padding: 40px;
        margin: 50px;
        margin-top: 1rem;
    } 
    .form-box-register h3{
        margin: 30px 0 10px;
        
    } 

       
}

@media (min-width:650px) and (max-width:700px)  {
    .img-box-register img {
        width: 230px;
        height: 100%;
        margin-left: 40px;
    }
  
}


@media (min-width:700px) and (max-width:800px)  {
    .img-box-register img {
        width: 350px;
        height: 100%;
        margin-left: 40px;
    }

    .form-box-register h2{        
        font-size: 99%;
    } 
  
}


@media (min-width:801px) and (max-width:901px)  {
    .img-box-register img {
        width: 380px;
        height: 100%;
        margin-left: 40px;
    }
  
    .form-box-register h2{        
        font-size: 99%;
    } 
}

@media (min-width:902px) and (max-width:999px)  {
    .img-box-register img {
        width: 430px;
        height: 100%;
        margin-left: 40px;
    }
    .form-box-register h2{        
        font-size: 99%;
    } 
}