* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  }
  
  a {
	text-decoration: none;
  }

  html, body{
    background: linear-gradient(90deg, rgba(16,89,149,1) 13%, rgba(74,164,238,1) 50%, rgba(16,89,149,1) 80%);

}

body{
  width: 100vw;
}

button{cursor: pointer;}

