
@import "./reset.css";

.container-sobre {
	background: #003b4e;
	height: 100vh;
	place-items: center;
	flex-direction: column;
	
}

.container-sobre  p{
	font-size: 1rem;
	color: #add8ec;
	padding: 3rem;
	margin-top: -5px;
	line-height: 25px;
}

.container-sobre  a{
	color: #add8ec;
	text-decoration: underline;
	
}