
@import "./reset.css";

.container-sobre {
	background: #003b4e;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #add8ec;
	text-align: center;
	height: 100%;
	
}

.container-sobre  p{
	font-size: 1rem;
	padding: 3rem;
	margin-top: -5px;
	line-height: 25px;
}

.cardContainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	margin-bottom: 70px;
	height: 100%;
	position: relative;	
}

ul{
	list-style: none;
	margin: auto;
	text-align: center;
}

.container-sobre  a{
	color: #add8ec;
}.cardItem{
	background-color: #051933;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center; align-items: center;
	height: 200px;	
	margin: auto 8px;
	width: 200px;
	opacity: 80%;
	padding: .25rem .25rem 0rem .25rem;
	margin-bottom: 30px;


}

.card-img {
	text-align: center;	
	border-radius: 50%;
	margin-top: 2px;
	width: 100px;
}

.link-img {
	width: 2rem;
}

.title{ margin-bottom: 5px;}

.redes {display: flex; align-items: center; justify-content: center; margin-top: 10px;}




